body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Lato', sans-serif;
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner banner"
        "side main"
        "footer footer";
        grid-gap: 4px;
    
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
    border-radius: 10px; 
    }

/* Area colouring... */

/* logo, banner and footer background are the same */
.logo, .banner, .footer {
    background-color: #29363D;  /* almost black */
}

/* Set font on dark areas to white */
.logo, .banner, .side, .footer {
    color: #fff;
}

/* Area specifics */

.logo {
    padding: 0;
    float: left;
    
}

.banner {
    grid-area: banner;
}

.nav {
    grid-area: nav;
    background-color: #DDD;  /* silver */
    font-size: 150%;
    text-align: center;
}

.side {
    grid-area: side;
    background-color: #F8E68C; /* light ywllow */
    color: #000;
}

.main {
    grid-area: main;
    background-color: #E49277;  /* lightish peach */
    border: solid 1px #CCC;
}


.footer {
    grid-area: footer;
    text-align: right;
}

/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

/* Side Links */
a.side{font-weight: bold; text-decoration: none;}
a.side:link, a.side:visited {color: #662C91;} /* purple */
a.side:hover {color: #cecfd5;} /* pale blue */


/* links in page */
a {font-weight: bold;}
a:link{color: #AA0000;} /*dark_red */
a:visited{color: #111177;} /* dark blue */
a:hover{color: #000;}    /* Black*/


/* Contact Form Styling */
.contact {
    width: 100%;
}


.img-circle {
    border-radius: 50%;
    max-width: 85%;
    height: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);     
}

.center_image {
    text-align: center;
}

/* Sub Heading Formatting */
.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #29363D; /* darkgrey*/
    font-weight: bold;
}

/* Results Box Formatting */
.results {
    background-color: #F8E68C; /* light yellow */
    border-radius: 10px;
    border: 1px solid #000;
    padding: 5px;
    
}

/* Error box formatting */
.error {
    background-color: #ffe0ed; /* pale pink */
    border: 2px solid #8a1737; /* dark red border*/
    color: #8a1737; /* dark red */
    border-radius: 5px;
    padding: 20px;
}

/* form formatting */ 
form {
    width: 250px;
    margin 5px;
}
.search{
    width: 190px;
    padding: 8px 15px;
    background: #fff;
}

.submit{
    font-family: FontAwesome;
    position: relative;
    width: 30px;
    left: -1px;
    background-color: #29363D; /* dark grey */
    color: #d6d6d6; /* light grey */
    border: 1px solid #636263;
    border-radius: 0 5px 5px 0;
}

input[type="submit"]:hover {
    background-color: #000; /* black */
    
}

input {
    height: 40px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.half_width {
    width: 93px;
}

.full_width {
    width: 190px;
}

select {
    outline: 0;
    height: 40px;
    border: 1px solid #ccc;
    color: #878787;
    width: 200px;
}









